.footer {
  @include flex(unset, center, column, 0);
  font-family: $fontGeneral;
  font-size: 0.7rem;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  //min-width: 320px;
  &::before {
    @include before__background(1, bottom, none);
  }
  @media screen and (min-width: 1024px) {
    @include flex(space-between, unset, row, 0);
    padding: 20px;
    position: fixed;
    font-size: 0.8rem;
  }
  &__text {
    @include flex(unset, unset, row, 5px);
    color: palevioletred;
    @media screen and (min-width: 1024px) {
      color: black;
      &__mail:hover {
        color: palevioletred;
        cursor: pointer;
      }
    }
  }
  &__quote {
    display: none;
    @media screen and (min-width: 1024px) {
      display: inline-block;
      color: rgb(30, 78, 120);
      text-decoration: none;
      opacity: 0;
      transition: opacity 2s ease-out;
    }
    &:hover {
        opacity: 1;
    }
  }

  /*@include flex(space-between, unset, row, 0);
  font-family: $fontGeneral;
  font-size: 0.8rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5vh;
  padding: 15px;
  &::before {
    @include before__background(1, bottom, none);
  }
  &__text {
    @include flex(unset, unset, row, 5px);
    &__mail:hover {
      color: palevioletred;
      cursor: pointer;
    }
  }
  &__quote {
    color: gray;
    text-decoration: none;
    opacity: 0;
    transition: opacity 2s ease-out;
  }
  &:hover {
    & .footer__quote {
      opacity: 1;
    }
  }*/
}
