.header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: solid 1px white;
  font-family: $fontGeneral;
  transition: all 1s ease-in;
  position: relative;
  &::before {
    content: '';
    background-image: url(../../images/neuronas.jpg);
    opacity: 1;
    background-size: cover;
    background-position: top;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: opacity 1s ease-in;
  }
  &:hover::before {
    opacity: 1;
  }
  &__logo__link {
    color: gray;
    text-decoration: none;
    font-size: 1.2rem;
  }
  &:hover {
    .header__logo__link {
      font-size: 1.3rem;
    }
  }
}

//nav
.header__nav {
  & .ul {
    display: flex;
    align-items: center;
    gap: 15px;
    &__toolsBtn {
      background-color: transparent;
      color: gray;
      border: none;
      font-family: $fontGeneral;
      font-size: 0.9rem;
      margin-top: 1px;
      cursor: pointer;
      transition: all .5s ease-in-out;
      &:hover {
        color: black;
        background-color: pink;
        box-shadow: 1px 1px 1px 1px black;
        border-radius: 20%;
        height: 25px;
        width: 65px;
      }
    }
    &__softSkillsBtn {
      background-color: transparent;
      color: gray;
      border: none;
      font-family: $fontGeneral;
      font-size: 0.9rem;
      margin-top: 1px;
      cursor: pointer;
      transition: all .5s ease-in-out;
      &:hover {
        color: black;
        background-color: pink;
        box-shadow: 1px 1px 1px 1px black;
        border-radius: 20%;
        height: 25px;
        width: 100px;
      }
    }
    &__cvBtn {
      background-color: transparent;
      color: gray;
      border: none;
      font-family: $fontGeneral;
      font-size: 0.9rem;
      margin-top: 1px;
      cursor: pointer;
      transition: all .5s ease-in-out;
      width: auto;
      height: auto;
      &:hover {
        color: black;
        background-color: pink;
        box-shadow: 1px 1px 1px 1px black;
        border-radius: 20%;
        height: 25px;
        width: 90px;
      }
    }
    &__contactBtn {
      background-color: transparent;
      color: gray;
      border: none;
      font-size: 0.9rem;
      margin-top: 1px;
      font-family: $fontGeneral;
      cursor: pointer;
      transition: all .5s ease-in-out;
      &:hover {
        color: black;
        background-color: rgb(255, 218, 224);
        box-shadow: 1px 1px 1px 1px black;
        border-radius: 20%;
        height: 25px;
        width: 80px;
      }
    }
    &__linkedin {
      height: 20px;
      display: flex;
      align-items: center;
      overflow: hidden;
      margin-top: 2px;
      padding: 2px;
      &__link {
        background-color: transparent;
        &:hover {
          background-color: rgb(43, 77, 156);
          border-radius: 30%;
          width: 23px;
        }
      }
      & .linkedinLogo {
        width: 25px;
      }
    }
    &__twitter {
      height: 19px;
      display: flex;
      align-items: center;
      &__link {
        background-color: transparent;
        border: solid 1px black;
        border-radius: 20%;
        &:hover {
          background-color: white;
        }
      }
      & .twitterLogo {
        width: 25px;
      }
    }
  }
}
