.header {
  background-color: black;
  color: rgb(195, 255, 235);
  display: flex;
  justify-content: space-between;
  padding: 15px;
  &__logo {
    display: flex;
    align-items: center;
    margin-top: 5px;
    &__link {
      display: inline-block;
      background-color: white;
      text-decoration: none;
    }
    & .logo {
      width: 30px;
      background-color: #000000;
      color: rgb(213, 253, 240);
      font-family: $fontGeneral;
      font-size: 1.3rem;
    }
  }
}

.header__nav {
  display: flex;
  gap: 15px;
  & .form {
    display: flex;
    align-items: center;
    gap: 5px;
    &__toolsLabel {
      font-family: $fontGeneral;
      font-size: 0.9rem;
      cursor: pointer;
    }
    &__toolsSelect {
      background-color: #000000;
      color: aliceblue;
      margin-right: 15px;
      border: none;
      cursor: pointer;
    }
    &__softSkillsLabel {
      font-family: $fontGeneral;
      font-size: 0.9rem;
      cursor: pointer;
    }
    &__softSkillsSelect {
      background-color: #000000;
      margin-right: 10px;
      color: aliceblue;
      border: none;
      cursor: pointer;
    }
  }
  & .form::after {
    content: ' | ';
  }
  & .ul {
    display: flex;
    align-items: center;
    gap: 10px;
    &__cvBtn {
      background-color: #000000;
      color: rgb(195, 255, 235);
      border: none;
      font-family: $fontGeneral;
      font-size: 0.9rem;
      margin-top: 1px;
      cursor: pointer;
    }
    &__contactBtn {
      background-color: #000000;
      color: rgb(195, 255, 235);
      border: none;
      font-size: 0.9rem;
      margin-top: 1px;
      font-family: $fontGeneral;
      cursor: pointer;
    }
    &__linkedin {
      height: 21px;
      display: flex;
      align-items: center;
      overflow: hidden;
      margin-top: 2px;
      &__link {
        display: inline-block;
        background-color: rgb(195, 255, 235);
        border-radius: 40%;
      }
      & .linkedinLogo {
        width: 25px;
      }
    }
    &__twitter {
      height: 19px;
      display: flex;
      align-items: center;
      overflow: hidden;
      margin-top: 4px;
      &__link {
        display: inline-block;
        background-color: rgb(195, 255, 235);
        border-radius: 40%;
      }
      & .twitterLogo {
        width: 25px;
      }
    }
  }
}
