.hero {
  height: 35vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  &__title {
    transition: all 2s ease-out;
    &.active {
      transform: translateY(-30px);
    }
    &.desactive {
      transform: translateY(0);
      transition: all 2s ease-out;
    }
    &__link {
      text-decoration: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      color: azure;
      transition: color 0.3s ease, text-shadow 0.3s ease;
      & .title {
        font-size: 1.5rem;
        &:hover {
          color: gray;
        }
      }
      & .subTitle {
        font-size: 1.2rem;
        &:hover {
          color: gray;
        }
      }
      & .aboutMeBtn {
        display: none;
        border: none;
        background-color: black;
        color: white;
        margin-top: 15px;
        &:hover {
          color: gray;
          background-color: white;
          border: solid 2px white;
          border-radius: 20%;
          padding: 3px 7px;
        }
      }
    }
  }

  &__softSkills {
    height: 100vh;
    position: fixed;
    background-color: rgb(56, 56, 56);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 1s ease-out;   
    bottom: 0;
    &.active {
      opacity: 90%;
      }
    &__container {
      border-radius: 10%;
      width: 50%;
      height: 50%;
      padding: 40px;
      background-color: white;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 15px;
      margin: 0 15px;
      &:hover {
        box-shadow: 0 0 5px wheat;
      }
      &__item {
        border: solid 1px white;
        padding: 5px;
        border-radius: 10%;
        background-color: black;
        text-align: center;
        color: white;
        transition: all 350ms ease-in-out;
        cursor: pointer;
        &:hover {
          transform: scale(2);
          box-shadow: 0px 0px 5px white;
          background-color: yellow;
          color: black;
        }
      }
    }
  }

  .closeSoftSkillsBtn {
    position: fixed;
    top: 22%;
    right: 24%;
    border: none;
    background-color: white;
    cursor: pointer;
    &:hover {
      background-color: yellow;
      box-shadow: 0 0 10px black;
      border-radius: 10%;
    }
  }

  &__tools {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    opacity: 0;
    transition: opacity 2s ease-out; 
    &.active {
      opacity: 1;
    }
    &__item {
      width: 40px;
      transition: all 450ms ease-in-out;
      &:hover {
        transform: scale(2.5);
        margin: 25px;
      }
      &--width1 {
        width: 50px;
        transition: all 450ms ease-in-out;
        &:hover {
          transform: scale(2.5);
          margin: 35px;
        }
      }
      &--width2 {
        height: 30px;
        transition: all 450ms ease-in-out;
        &:hover {
          transform: scale(1.9);
          margin: 35px;
        }
      }
    }
  }
}

.hidden {
  opacity: 0;
  height: 0;
  transition: opacity 2s ease;
  display: none;
}