.projectSection {
  height: 65vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: $fontGeneral;
  position: relative;
  &::before {
    content: '';
    background-image: url(../../images/neuronas.jpg);
    opacity: 0;
    background-size: cover;
    background-position: bottom;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: opacity 1s ease-in;
  }
  &:hover::before {
    opacity: 1;
  }
  &__title {
    color: black;
    margin-top: 15px;
  }
}

.projects {
  height: 20vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  grid-gap: 10px;
  margin: 30px 120px 40px;
  padding: 15px;
  &__container {
    font-size: 0.8rem;
    background-color: rgb(226, 225, 225);
    box-shadow: 3px 3px 3px 3px rgb(95, 155, 208);
    color: black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    border-radius: 10%;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: black;
      transform: scale(1.2);
      box-shadow: 0px 0px 5px 2px black;
      background-color: transparent;
    }
    & .containerLogos {
      display: flex;
      gap: 10px;
      &__item {
        width: 20px;
        transition: all 1s ease;
        &.globe:hover {
          transform: rotate(180deg);
        }
        &.github:hover {
          transform: scale(1.3);
        }
      }
    }
  }
}

.pagination {
  display: flex;
  gap: 10px;
  justify-content: center;
  &__btn {
    font-family: $fontGeneral;
    border: none;
    background-color: transparent;
    color: black;
    cursor: pointer;
    width: 40px;
    opacity: 0.5;
    &__img {
      position: relative;
      top: -155px;
      left: -450px;
      &.next {
        left: 450px;
      }
    }
    &:hover {
      opacity: 1;
    }
  }
  &__text {
    font-size: 0.9rem;
    color: gray;
  }
}
