.projectSection {
  height: 49vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  &__title {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 15px;
  }
}

.projects {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 30px 100px 40px;
  overflow: hidden;
  &__container {
    overflow: hidden;
    width: 350px;
    height: 350px;
    &__item {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
