.hero {
  &__tools {
    height: 0;
    opacity: 0;
    transform: matrix(1, 0, 0, 5, 0, 0);
    @media screen and (min-width: 1024px) {
      @include flex(center, center, row, 30px);
      height: unset;
      opacity: 0;
      transition: opacity 2s ease-out;
    }
    &.active {
      @include flex(center, center, row, 30px);
      align-content: center;
      flex-wrap: wrap;
      padding: 50px 100px 50px;
      opacity: 1;
      height: 50vh;
      transform: matrix(1, 0, 0, 1, 0, 0);
      transition-property: transform, opacity;
      transition-delay: 1s, 1s;
      transition-duration: 1s, 2s;
      background-color: rgb(219, 219, 219);
      //transition: all 3s ease-out;
      @media screen and (min-width: 1024px) {
        height: unset;
        opacity: 1;
        padding: 0;
        align-content: unset;
        flex-wrap: unset;
        transition: opacity 2s ease-out;
      }
    }
    &__item {
      width: 55px;
      height: 55px;
      @media screen and (min-width: 1024px) {
        height: 50px;
        width: 50px;
        transition: all 450ms ease-in-out;
        &:hover {
          transform: scale(1.4);
          margin: 5px;
        }
      }
      &--width1 {
        width: 50px;
        @media screen and (min-width: 1024px) {
          transition: all 450ms ease-in-out;
          &:hover {
            transform: scale(1.5);
            margin: 8px 22px 5px 5px;
          }
        }
      }
      &--width2 {
        height: 30px;
        @media screen and (min-width: 1024px) {
          transition: all 450ms ease-in-out;
          &:hover {
            transform: scale(1.3);
            margin: 0 10px 0 15px;
          }
        }
      }
    }
  }
}

.closeToolsBtn {
  background-color: transparent;
  border: none;
  color: black;
  font-size: .9rem;
  cursor: pointer;
  @media screen and (min-width: 1024px) {
    display: none;
  }
}
.hiddenBackBtn {
  display: none;
}
