.hero {
  &__tools {
    height: 0;
    opacity: 0;
    transform: matrix(1, 0, 0, 3, 0, 0);
    overflow: hidden;
    @media screen and (min-width: 1024px) {
      @include flex(center, center, row, 30px);
      height: unset;
      opacity: 0;
      transition: opacity 2s ease-out;
      transform: unset;
    }
    &.active {
      @include flex(center, center, row, 30px);
      position: fixed;
      top: 23%;
      bottom: 0;
      right: 0;
      left: 0;
      align-content: center;
      flex-wrap: wrap;
      padding: 50px 100px 50px;
      opacity: .9;
      height: 50vh;
      transform: matrix(1, 0, 0, 1, 0, 0);
      transition-property: transform, opacity, height;
      transition-delay: 0s, .3s, 0s;
      transition-duration: 1s, 1.5s, 5s;
      background-color: rgb(0, 0, 0);
      z-index: 5;
      @media screen and (min-width: 1024px) {
        background-color: unset;
        height: unset;
        opacity: 1;
        padding: 0;
        align-content: unset;
        flex-wrap: unset;
        transition: opacity 2s ease-out;
        transform: unset;
        position: unset;
      }
    }
    &__item {
      width: 55px;
      height: 55px;
      @media screen and (min-width: 1024px) {
        height: 50px;
        width: 50px;
        transition: all 450ms ease-in-out;
        /*&:hover {
          transform: scale(1.4);
          margin: 5px;
        }*/
      }
      &--width1 {
        width: 50px;
        @media screen and (min-width: 1024px) {
          transition: all 450ms ease-in-out;
        }
      }
      &--width2 {
        height: 30px;
        @media screen and (min-width: 1024px) {
          transition: all 450ms ease-in-out;
        }
      }
    }
  }
}

.closeToolsBtn {
  background-color: transparent;
  border: none;
  color: rgb(255, 255, 255);
  font-size: .9rem;
  opacity: 1;
  transition: opacity .5s ease;
  cursor: pointer;
  z-index: 10;
  &:hover {
    border: 1px solid black;
    background-color: black;
    border-radius: 10%;
  }
  @media screen and (min-width: 1024px) {
    display: none;
  }
}
.hiddenBackBtn {
  opacity: 0;
}
