@import './core/reset.scss';
@import './core/variables.scss';

.main {
  background-color: rgb(253, 253, 76);
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  & .titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    &__title {
    color: black;
    letter-spacing: 3px;
    font-size: 2rem;
    &:hover {
        color: green;
    }
  }
  &__subTitle {
    font-size: 1.5rem;
    color: red;
  }
  }
  & .navContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    & .formContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
      }
  }
  & .toolsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    &__item {
        width: 40px;
        &--bigWidth1 {
            width: 60px;
        }
        &--bigWidth2 {
            width: 100px;
        }
    }
  }
}
